*{margin: 0;padding: 0;box-sizing: border-box;}
*::before, *::after{box-sizing: border-box;}

@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.page{
    display: flex; 
    flex-direction: column; 
    height: 100vh;

}
.pagewarp,.pagewarp::after{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}
.page .pagewarp{
    background: transparent url("./images/17702137207605115.jpg") no-repeat center;
    background-size: cover;
      
}
.page .pagewarp::after{
    content: " ";
    background-color: rgba(0, 0, 0, 0.5);
}

.disc-container{
    position: relative;
}
.disc-container .pointer{
    width: 24vw;
    position: absolute;
    left: 50%;
}
 .disc-container .disc{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 15vw;
} 
.disc-container .ring{
    width: 80vw;
}
.disc-container .light{
    width: 80vw;
    position: absolute;
}
.disc-container .cover{
    width: 50vw;
    position: absolute;
    border-radius: 50%;
}
.disc-container .play{
    position: absolute;
    width: 22.4vw;
    display: none;
}

.disc-container.playing .light,
.disc-container.playing .cover{
    animation: circle 20s infinite linear;
}
.disc-container.paused .light,
.disc-container.paused .cover,
.disc-container.paused .play{
    display: block;
    animation-play-state: paused;
}


.song-description{
    flex-grow: 1;
    color: hsla(0,0%,100%,.6);
    text-align: center;
    line-height: 1.5;
    margin-top: 6.5vw;
}
.song-description h1{
    color: white;
    font-size: 18px;
}
.song-description h1 .singer{
    font-size: 16px;
    color: hsla(0,0%,100%,.6);
}
.song-description .lines{
    transition: transform 0.3s;
}
.song-description p{
    font-size: 16px;
    line-height: 30px;
}
.song-description .lyric{
    height: 90px;
    overflow: hidden;
}
.song-description p.active{
    color: white;
}


.page > .links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #d43b32;
}
.page > .links > a{
    width: 38.5vw;
    margin: 1em;
    padding: 1.5vw;
    text-align: center;
    border: 1px solid #d43b32;
    color: inherit;
    text-decoration: none;
    border-radius: 5px;
    letter-spacing: 4px;
} 
.page > .links > a.download{
    color: white;
    background-color: #d43b32;
}